@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

.navbar {
    float: left;
    width: 100%;
    border-bottom: #ccc;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.container-logo {
    width: 150px;
    margin-top: 5px;
}

.container-logo img {
    width: 100%;
}

.boton {
    color: white;
}

.header-primary {
    background-color: blueviolet !important;
}

.header-primary .navbar .navbar_btn a {
    font-family: 'Mochiy Pop One', sans-serif;
    text-transform: none;
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-decoration: none;
}